
html, body {
  margin: 0;
  padding: 0;
}

.navbar {
  margin-bottom: 0;
  background: #ccc;
  border-radius: 0;
}

#Sidenav {
  height: 100%;
  width: 230px;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom left, #07ecae, #007d95);
  padding-top: 60px;
  transition: 0.5s;
  overflow-x: hidden;
}

.sidenav a {
  display: block;
  padding: 8px 8px 8px 60px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
  color: #ff6868;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


#Brandnav {
  margin-top: 100px;
  color: #fff;
  font-size: 20px;
}

#main {
  // width: 80%;
  right: 0;
  // position: fixed;
  transition: margin-left .5s;
}

.pendingcont {
  max-width: 500px;
  margin-left: auto;
  margin-right: 100px;
}

.img-circle {
  border: 2px solid #fff;
  margin-top: 30px;
  margin-left: 50px;
}

// pending card design
.cardbox {
  max-width: 400px;
  margin: auto;
  height: 250px;
  box-sizing: border-box;
  border: 1px solid #ada9a9;
  background-color: #fff;
}

.row {
  width: 100%;
}

.col-md-3 {
  width: 33%;
  padding: 0;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.content {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.dashbox {
  width: calc(100% - 230px);
  float: right;
  box-sizing: border-box;
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.form-control {
  border-radius: 0;
}
