html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#f-logo img {
  margin-left: 15px;
  margin-top: 0;
  height: 80px;
  padding: 0;
}

#editbox {
    margin-top: 20px;
    margin-bottom: 60px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height:  137%;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    text-align: center;
}

h1 {
    // margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 40px;
    color: #757575;
    font-weight: 300;
}

h1, input {
    font-family: 'Montserrat', sans-serif;
}

.input {
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    width: 65%;
    height: 50px;
    display: block;
    // margin: 0 auto 30px;
    padding: 0 15px;
    border: none;
    border-bottom: 2px solid #ebebeb;
}
.input:focus {
    outline: none;
    border-bottom-color: #01b6d1 !important;
}
.input:hover {
    border-bottom-color: #dcdcdc;
}
.input:invalid {
    box-shadow: none;
}

.pass:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.pass:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

#username {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

// #avatar img {
//   margin-left: 15px;
//   margin-top: 0;
//   height: 80px;
//   padding: 0;
// }

#f-logo img:hover {
  -webkit-box-shadow: 0 3px 0 lightgrey;
  -moz-box-shadow: 0 3px 0 lightgrey;
  box-shadow: 0 3px 0 lightgrey;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#edit_profile {
  font-size: 45px;
  color: #6B6B6B;
}

.edit_user_bg {
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-style: none;
  max-width: 100%;
  max-height: 100%;
  margin-top: 0;
  background-image: url('skateboard.jpg');
  background-color: #40414A;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 0;}
  .sidenav a {font-size: 18px;}
}
