// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// show page
.match-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

hr.match-hr {
  border-color: #aaa;
  margin: 0;
}