// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grey-color: #818181;

// show page

.show-match-container {
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
}

hr.match-hr {
  border-color: $grey-color;
  margin: 0 0 10px 0;
}

.pending-info {
  margin-bottom: 20px;

  h4 {
    margin: 0;
  }

  .pending-attr {
    width: 100px;
  }

  .pending-details {
    width: 200px;
  }
  
}

.match-other-row {
  margin: 0 0 30px 0 !important;
  display: flex;

  .col-md-4 {
    width: 40%;
    height: 100%;
    align-self: center;
    
    .profile-pic {
      background-color: #888;
      border-radius: 50%;
      border: solid 1px $grey-color;
      margin: 0 auto;
      width: 300px;
      height: 300px;
    }

    img {
     border-radius: 50%;
     border: solid 1px $grey-color;
     width: 300px;
     height: 300px; 
    }
  }

  .col-md-8 {
    background-color: #f4f2f2;
    padding: 0;
    // margin-right: 20px;
    width: 60%;
    // float: right;
    margin-left: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18);

    .other-user-details {
      padding: 20px;
    }

    h2 {
      margin-top: 0;
      font-size: 40px;
    }

    h4 {
      text-align: left;
      margin-bottom: 10px;
      color: $grey-color;
    }

    .user-attr-table {
      width: 100%;

      td {
        padding-right: 15px;
        font-weight: 700;
      }

      .attr-value {
        padding-right: 80px;
        font-weight: 400;
      }

    }
    .other-pending-title {
      color: #000;
      margin: 20px 0 20px 0;
    }

    .other-pending-table {
      width: 100%;

      .pending-attr {
        width: 70px;
        font-weight: 700;
      }

      .pending-details {
        width: 200px;
      }
    }
  }
}

.chat-form-row {
  margin-bottom: 30px;

  .chat-col {
    width: 55%;
  }
  
  .confirmed-activity-col {
    float: right;

    .panel {
      height: auto;
    }

    h3 {
      margin-bottom: 10px;
    }

    .confirm-details {
      
      td {
        height: 50px;
        padding: 10px;
        vertical-align: top;
      }

      .confirm-attr {
        width: 120px;

        p {
          font-weight: 700;
        }
      }

      p {
        font-size: 18px;
      }
    }
    
    .confirm-alert {
      border-radius: 0;
      border-color: #ccc;
      margin-top: 20px;
    }
    
    .confirm-btn {
      margin: 10px 0 0 10px;
      background-color: #258f9f;
      border: none;
      border-radius: 0;
      width: 140px;

      &:hover {
        background-color: #01b6d1;
      }
    }

    .decline-link {
      height: 44px;
      margin-top: 20px;
      border: none;
      background: none;
      color: #337ab7;
      float: right;

      &:hover {
        color: #23527c;
      }
    }

    .confirm-form {

      td {
        height: 50px;
        padding: 10px;
      }

      select {
        height: 31px;
      }

      #confirmed_activity_location {
        width: 100%;
      }
      
      #confirmed_activity_date {
        width: 40%;
      }

      #confirmed_activity_time {
        width: 40%;
      }

      #confirmed_activity_duration_in_hours {
        width: 40%;
      }
    }
  }
}