html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

// #username {
//   padding: 8px 8px 8px 32px;
//   text-decoration: none;
//   font-size: 25px;
//   color: #818181;
//   display: block;
//   transition: 0.3s
// }

#main {
  margin: 0;
  padding: 0;
}

.user-details {
  margin-top: 20px;
  margin-left: 25px;
}

#welcome-username {
  margin-top: 0;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  color: #525252;
  font-weight: 300;
}

.attributes {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #757575;
}
